<div class="user-details">
  <h1>Who am I</h1>
  <p>{{ site.user_description }}</p>
  <h4>本名吴维熙，英文名Joy Han，17岁，UESTC大一新生，来自河南~</h4>
  <p>我的多重身份：<br>
    信软五班学习委员，xn505寝室长，微积分和体育课科代表<br>
    英语第一组组长，计算思维第九组组长<br>
    以及焦糖工作室的申请者~【比心】</p>
    
  <p>个性与兴趣：<br>
    性格十分活泼，班群龙王种子选手，昵称花花，人称“花姐” 233333<br>
    对未知的东西往往充满兴趣，对生活充满了热爱~<br>
    一旦打定主意，可能会不知不觉搞到通宵hhhh<br>
    喜欢二次元和日系，喜欢钢琴，轻音乐<br>
    平时爱看动漫，最近在补鬼灭之刃和杀戮天使~<br>
    喜欢八爷，reol，aimer，EGOIST，DECO*27 大大的歌<br>
    大爱Koruma太太的MEME（强推）~</p>
    
  <p>爱好与特长：<br>
    那必然是敲代码了（划掉）<br>
    
    学过三年的美术，各种绘画类型都接触过<br>
    最近在用ps和sai学板绘（游戏原画大佬带飞~~~）<br>
    其实刚刚学到线稿啦（我qq空间有图噢）<br>
    将来十分想用ae和CSP画点动画作品。全当兴趣啦<br>
    什么？你问我为什么不去做UI题？<br>
    之前也讲过，我是一直抱着广泛了解探索兴趣的初衷做题的，越是熟悉的东西，我越是会刻意避开它<br>
  </p>
    
    
    
    
